db
log
target
*.class

*.jar
*.war

hs_err_pid*

.vagrant

.DS_Store
.idea
tmp/
target/
resources/compiled-assets/
resources/compiled-cljs/
.lein-repl-history
.nrepl-port
crossover-cljs/
*.log
*.swp
tmp/*
log/*
